:root {
  --backround-color: #1A4E8D;
  --hover-color: #00064a;
}

.footer {
  background-color: #1A4E8D  ;
  padding: 20px;
  text-align: center;
  color: white;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espacio entre iconos */
}

.footer-icon {
  font-size: 24px; /* Tamaño del icono */
  color: white; /* Color del icono */
  transition: color 0.3s; /* Transición suave para el hover */
}

.footer-icon:hover {
  color: #00064a; /* Color al pasar el mouse sobre los iconos */
}

.divider {
  margin: 20px 0;
  border: 1px solid white; /* Línea blanca */
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre enlaces */
}

.footer-links a {
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s; /* Transición suave para el hover */
}

.footer-links a:hover {
  color: #00064a; /* Color al pasar el mouse */
}
