@import url(../pages/index.css);
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 10px;
    text-align: center;
    left: 0;
    background-color: #052659  !important;
}
.logo-insta, .logo-gmail, .logo-tw{
    width: 30px;            
    height: 30px; 
    background-size: cover;  
    border-radius: 50%;
    margin: 10px;
    position: relative;

}
.links{
    display: block; 
    width: 100%; 
    height: 100%; 
    text-indent: -9999px; 
}

.button-Abaut-ass-footer{
    justify-content: flex-end;
    position: static;
    align-self: flex-start;
}