/* Colores principales */
:root {
    --color-primario: #052659;
    --color-fondo: #7DA0CA;
    --color-secundario: #C1E8FF;
    --color-terciario: #BFDDFC;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-primario);
    color: #fff; /* Texto blanco sobre fondo oscuro */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: var(--color-primario);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.boton-unetenos {
    background-color: var(--color-terciario);
    color: var(--color-fondo);
    padding: 10px 20px;
    border-radius: 5px;
}

  /* Slider (ejemplo con CSS puro, puedes usar librerías para más opciones) */
.slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    text-align: center;
    padding: 20px;
    background-color: var(--color-terciario);
    color: var(--color-fondo);
}

  /* Adaptación para pantallas más pequeñas */
@media (max-width: 768px) {
    header {
    flex-direction: column;
    text-align: center;
    }
}
main {
    flex: 1; /* El contenido principal ocupará todo el espacio disponible */
}

footer {
    background-color: var(--color-secundario);
    color: #fff;
    padding: 20px;
}