:root {
    --background-color: #1A4E8D;
    --main-color: #00064a;
}

.aboutUs-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.full-screen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.aboutUs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: transparent; 
    backdrop-filter: blur(15px); 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.text-container {
    width: 50%;
    margin: 0;
    padding: 20px;
    color: white;
    z-index: 1;
}

.text-container h1{
    transition: color 0.3s ease; 
    font-size: 2rem;
}

.text-container p {
    transition: color 0.3s ease;
    font-size: 16px;
}

.about-img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.about-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
