@import url(../components/header.css);
@import url(../components/footer.css);
#root{
    width: 100%;
    height: 100vh;
}

.contein-info-section1 , .contein-info-section2 , .contein-info-section3{
    margin-top: 100px;
}
.information-section1 , .information-section2 , .information-section3{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px; /* Ajusta la altura según tu necesidad */
    overflow: hidden; /* Esto oculta las imágenes fuera del contenedor visible */
    margin-top: 125px;
    margin-left: 0;
    margin-right: 10px;
    text-align: center;
}
.information-section3{
    margin-bottom: 50px;
}
.information-section2{
    margin-left: 10px;
}

:root {
    --main-color: #052659;
    --backround-color: #7DA0CA;
    --secondary-color: #C1E8FF;
    --alternative-color: #BFDDFC;
}
