:root {
    --main-color: #052659;
    --backround-color: #7DA0CA;
    --secondary-color: #C1E8FF;
    --alternative-color: #BFDDFC;
}

.links-functions{
    background-color: var(--main-color);
    width: 25%;
    height: 100vh;
    padding: 10px;
}
