:root {
    --background-color: #1A4E8D;
    --main-color: #00064a;
}


#root{
    width: 100%;
    height: 100vh;
}

.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--main-color); 
}

.menu-container {
    position: fixed;
    top: 55px; 
    left: 0;
    width: 200px;
    height: calc(100% - 55px);
    background-color: var(--background-color);
    box-shadow: -5px 0 15px var(--main-color);
    transition: all 0.2s ease; 
}

.menu-functions {
    background-color: var(--background-color);
    height: 100%;
    padding-top: 20px;
    border-right: none;
}

.menu-functions .ant-menu-item {
    color: white;
    font-size: 16px;
    transition: all 0.2s ease; 
}

.menu-functions .ant-menu-item:hover {
    background-color:rgba(26, 78, 141, 0.5); 
    color: white; 
}

.menu-functions .ant-menu-item-selected {
    background-color: var(--main-color); 
    color: white !important; 
}

.menu-functions .ant-menu-item-icon {
    font-size: 20px;
    color: white; 
}

.menu-functions .ant-menu-item:hover .ant-menu-item-icon {
    transform: scale(1.4); 
}

.menu-functions .ant-menu-item-selected .ant-menu-item-icon {
    color: white !important; 
}

@media (max-width: 768px) {
    .menu-container {
        width: 100%; 
        height: auto; 
        position: relative; 
        top: 0; 
        box-shadow: none; 
    }

    .menu-functions .ant-menu-item {
        font-size: 14px; 
    }

    .menu-functions .ant-menu-item-icon {
        font-size: 18px; 
    }

    .menu-functions .ant-menu-item:hover .ant-menu-item-icon {
        transform: scale(1.2); 
    }
}

.trabajadores-container {
    margin-left: 8%;
    margin-top: 2.2%;
    width: 70%;                       /* Ancho del contenedor */
    height: 80%;                      /* Altura del contenedor */
    display: flex;                    /* Flexbox para organizar los elementos */
    flex-wrap: wrap;                  /* Permite que los elementos pasen a nuevas filas */
    gap: 16px;                        /* Espaciado entre elementos */
    justify-content: center;          /* Centra las tarjetas horizontalmente */
    align-items: flex-start;          /* Alinea las tarjetas al inicio verticalmente */
    padding: 30px;
    position: absolute;               /* Centrar en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-size: cover;          /* Ajusta la imagen para cubrir el contenedor */
    background-repeat: no-repeat;    /* Evita repetir la imagen */
    background-position: center;     /* Centra la imagen */
    overflow-y: auto;                /* Habilita el scroll vertical */
    overflow-x: hidden;              /* Evita el scroll horizontal */
    background-image: url('../../images/836316_preview.jpg');
}

.trabajador-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;                    /* Ancho fijo para las tarjetas */
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;                    /* Altura ajustable según el contenido */
    min-height: 200px;               /* Altura mínima */
    margin: 15px;                    /* Espaciado entre las tarjetas */
    box-sizing: border-box;          /* Incluye padding y border en el tamaño */
}

.trabajador-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.trabajador-card p {
    font-size: 1em;
    color: #555;
}