@import url(../components/header.css);

:root {
  --backround-color: #1A4E8D;
  --main-color: #00064a;
}

.contein-login-page {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 100vh;
  margin-top: 75px;
}

.full-screen-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1; 
  object-fit: cover; 
}

.box {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 15px; 
  background-color: transparent;
  box-shadow: -5px 0 15px var(--main-color);
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.title-form {
  color: white;
  font-weight: bold; 
  font-size: 40px;
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

.form-items {
  width: 100%;
  margin: 20px;
  flex-direction: column;
}

.form-items .ant-input,
.form-items .ant-input-password {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 15px;
  border-bottom: 1px solid white; 
  padding: 10px;
}

.form-items .ant-input:empty,
.form-items .ant-input-password {
  background-color: transparent !important;
}

.form-items .ant-input:focus,
.form-items .ant-input-password:focus {
  background-color: transparent !important;
  outline: none;
  border-bottom: 1px solid white; 
}

.form-items .ant-input::placeholder,
.form-items .ant-input-password::placeholder {
  color: white; 
  font-size: 14px;
}

.ant-input-password .ant-input-suffix svg {
  fill: white; 
}

.login-button {
  width: 100%; 
  display: flex;
  justify-content: center; 
  margin-top: 30px !important;
  margin: 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: var(--main-color) !important;
  color: white;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 36px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  z-index: 1 !important;
}

.back-arrow:hover {
  transform: scale(1.2); 
  color: var(--main-color);
}