@import url(../components/header.css);

:root {
  --backround-color: #1A4E8D;
  --main-color: #00064a;
}

/*Posición del recuadro*/
.contein-login-page {
  display: flex;
  justify-content: center; /* Centra los divs horizontalmente */
  align-items: center; /* Alinea verticalmente */
  width: 100vw;
  height: 100vh;
  margin-top: 75px;
}

/*Posición del fondo de medusas*/
.full-screen-background {
  position: fixed; /* Imagen fija en el fondo */
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1; /* Debajo de otros elementos */
  object-fit: cover; /* Mantiene proporción de la imagen */
}

/*Tamaño y estilo de la caja*/
.box {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 15px; 
  background-color: transparent;
  box-shadow: -5px 0 15px var(--main-color);
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 20px;
  backdrop-filter: blur(10px);
}

/*Título de la caja*/
.title-form {
  color: white;
  font-weight: bold; /* Texto en negrita */
  font-size: 40px;
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

/*Posición de los campos*/
.form-items {
  width: 100%;
  margin: 20px;
  flex-direction: column;
}

/*Propiedades de los campos*/
.form-items .ant-input,
.form-items .ant-input-password {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 15px;
  border-bottom: 1px solid white; /* Borde inferior */
  padding: 10px;
}

/*Mantener transparente el fondo de los campos*/
.form-items .ant-input:empty,
.form-items .ant-input-password {
  background-color: transparent !important;
}

.form-items .ant-input:focus,
.form-items .ant-input-password:focus {
  background-color: transparent !important;
  outline: none;
  border-bottom: 1px solid white; /* Borde blanco al enfocarse */
}

/*Color de las letras de los campos*/
.form-items .ant-input::placeholder,
.form-items .ant-input-password::placeholder {
  color: white; /* Color del placeholder */
  font-size: 14px;
}
/*Color del ojito de password*/
.ant-input-password .ant-input-suffix svg {
  fill: white; /* Color blanco en el ícono */
}

/*Botón Acceder*/
/* Posición y estilo del botón */
.login-button {
  width: 100%; 
  display: flex;
  justify-content: center; 
  margin-top: 30px !important;
  margin: 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover del botón */
.login-button:hover {
  background-color: var(--main-color) !important;
  color: white;
}

/* Posición y estilo de la flecha de regreso */
.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 36px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  z-index: 1 !important;
}

/* Animación al pasar el cursor por la flecha */
.back-arrow:hover {
  transform: scale(1.2); /* Aumenta el tamaño un poco */
  color: var(--main-color);
}