@import url(../components/header.css);

:root {
  --main-color: #052659;
  --backround-color: #7DA0CA;
  --secondary-color: #C1E8FF;
  --alternative-color: #BFDDFC;
}

.contein-login-page {
  display: flex;
  justify-content: center; /* Centra los divs horizontalmente */
  align-items: center; /* Alinea verticalmente */
  width: 100%;
  height: 100%;
}

.full-screen-background {
  position: fixed; /* Imagen fija en el fondo */
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1; /* Debajo de otros elementos */
  object-fit: cover; /* Mantiene proporción de la imagen */
}

.box {
  width: 350px;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px; /* Bordes redondeados */
}

.form-part {
  background-color: transparent;
  box-shadow: -5px 0 15px var(--main-color); /* Sombra en el contenedor */
  margin-top: 8%;
  margin-bottom: 6%;
  position: relative;
  text-align: center;
  flex-direction: column;
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  z-index: 2;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title-form {
  color: white;
  font-weight: bold; /* Texto en negrita */
  font-size: 35px;
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

.form-items {
  width: 100%;
  margin: 20px;
  flex-direction: column;
}

.form-items .ant-input,
.form-items .ant-input-password {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white; /* Borde inferior suave */
  padding: 10px;
}

.form-items .ant-input:empty {
  background-color: transparent !important;
}
.form-items .ant-input-password {
  background-color: transparent !important;
}

.form-items .ant-input:focus,
.form-items .ant-input-password:focus {
  background-color: transparent !important;
  outline: none;
  border-bottom: 1px solid white; /* Borde blanco al enfocarse */
}

.form-items .ant-input::placeholder,
.form-items .ant-input-password::placeholder {
  color: white; /* Color del placeholder */
}

.ant-input-password .ant-input-suffix svg {
  fill: white; /* Color blanco en el ícono */
}

.form-button {
  width: 25%;
  margin-top: 40px;
}

.form-button button {
  width: 260px !important; /* Ancho del botón */
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 15px !important;
  background-color: white !important;
  color: black !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición en hover */
}

.form-button button:hover {
  background-color: var(--main-color) !important;
  color: white !important; /* Cambia a blanco al hacer hover */
}
