:root {
    --back-color: rgba(0, 0, 0, 0.7);
}

.profile-page {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: 75px;
}

.profile-settings-container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px; 
    background-color: var(--back-color);
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 20px;
    backdrop-filter: blur(10px);
}

.full-screen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.settings-title {
    font-size: 30px !important;
    color: white !important;
}

.settings-subtitle {
    color: white !important;
    text-align: left;
}

.profile-input, .ant-input, .ant-input-password {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.profile-input:focus, .ant-input:focus, .ant-input-password:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    border-color: white;
}

.settings-layout {
    display: flex;
}

.ant-tabs-left .ant-tabs-tab {
    color: white;
}

.content-box label {
    color: white;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.user-profile-email {
    font-size: 18px;
    color: white;
}

.profile-input {
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    outline: none;
}

.profile-input:focus {
    background-color: rgba(255, 255, 255, 0.1); /* Mantén el fondo transparente al hacer clic */
    color: white;
    border: none;
}
.profile-btn {
    width: 100%;
    background-color: white;
    border: none;
    color: var(--back-color);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.profile-btn:hover {
    background-color: white;
    color: var(--back-color);
}

.logout-btn {
    width: 100%;
    background-color: white;
    border: none;
    color: var(--back-color);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: white;
    color: var(--back-color) !important;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 36px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    z-index: 1 !important;
  }

.back-arrow:hover {
  transform: scale(1.2);
  color: var(--main-color);
}
